@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as *;
@use "../base/reset" as *;

.default-btn {
  border-radius: vars.$border-s;

  font-size: vars.$font-size-md;
  font-weight: vars.$font-regular;
  border: none;
  cursor: pointer;
}

.btn-var-1 {
  background-color: vars.$secondary-color-1;
  color: vars.$font-color-2;
  padding: 16px 42px;
}

.btn-var-2 {
  background-color: vars.$primary-color-2;
  padding: 16px 24px;
  color: vars.$font-color-1;
}
