@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as *;
@use "../base/reset" as *;

.dropdown {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 473px;
  color: vars.$font-color-1;
  justify-content: space-around;
}

.dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown__link {
  font-size: vars.$font-size-sm;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: vars.$font-regular;
  width: 100%;
  justify-content: space-between;
  user-select: none;

  & svg {
    font-size: vars.$font-size-xs;
  }
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  list-style: none;
  padding: 20px;
  background: vars.$background-color;
  color: vars.$font-color-3;
  border-radius: vars.$border-s;
  font-weight: vars.$font-regular;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  overflow-x: auto;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition:
    opacity 200ms ease-in,
    transform 200ms ease-in,
    visibility 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  & li {
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    transition: 150ms ease-out;
    position: relative;
    padding: 5px 0;

    &::before {
      width: 3px;
      height: 100%;
      content: "";
      background: vars.$primary-color-2;
      top: 0;
      left: -10px;
      position: absolute;
      opacity: 0;
    }

    &:hover {
      transform: translateX(5px);
      &::before {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1152px) {
  .dropdown {
    display: none;
  }
}
