@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as *;
@use "../base/reset" as *;

.dropdown {
  display: flex;
  flex: 2;
  flex-direction: row;
  width: 100%;
  max-width: 473px;
  position: relative;
  color: vars.$font-color-1;
  justify-content: space-around;

  &__link {
    font-size: vars.$font-size-sm;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    & svg {
      font-size: vars.$font-size-xs;
    }
  }

  &__menu {
    position: absolute;
    background: goldenrod;
  }
}
