$primary-color-1: #043873;
$primary-color-2: #4f9cf9;
$background-color: #ffffff;

$secondary-color-1: #ffe492;
$secondary-color-2: #a7cefc;
$secondary-color-3: #ffffff;
$secondary-color-4: #212529;

$font-thin: 200;
$font-regular: 600;
$font-bold: bold;

$font-color-1: #ffffff;
$font-color-2: #043873;
$font-color-3: #212529;
$font-color-3: #ffe492;

$font-size-xs: 0.7rem; // 14px
$font-size-sm: 1rem; // 16px
$font-size-md: 1.125rem; // 18px
$font-size-lg: 2.25rem; // 36px
$font-size-xl: 4rem; // 64px

$letter-spacing: 0px;

$border-s: 8px;
