.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.hidden {
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}

.rotate {
  transform: rotate(180deg);
}

@media (max-width: 1152px) {
  .hidden {
    transform: translateY(0);
  }
}
